.menubtn{
  position: fixed;
  left: 3%;
  font-size: 2rem;
}

.menubtn:hover{
  color:#ffb0b0;
  cursor: pointer;
}

.Navbar{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: black;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.Navbar ul li {
  padding: 3%;
  margin: 5%;
  list-style-type: none;
  font-size: 1.5rem;
  display: block;
  transition: 0.3s;
}

.Navbar .link{
  text-decoration: none;
  color: #ffb0b0;
}

.Navbar .link:hover{
  color: #f3efef;
}

.Navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  text-decoration: none ;
  color: #ffb0b0;
}

.Navbar .closebtn:hover{
  color: #f3efef;
}



@media screen and (max-height: 450px) {
  .Navbar {padding-top: 15px;}
  .Navbar ul li {font-size: 18px;}
}